<div class="card">
    <div class="card-body">
      <div class="card-title">
        Tambah User
  
        <div class="float-right">
          <button class="btn btn-sm btn-outline-secondary mr-2" (click)="back()">
            <i class="bx bx-arrow-back"></i>
            Kembali
          </button>
          <button class="btn btn-sm btn-outline-primary" (click)="save()">
            <i class="far fa-save"></i>
            Simpan
          </button>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-4 col-form-label required"> Name </label>
            <div class="col-md-8">
              <input type="text" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-4 col-form-label required"> Username </label>
            <div class="col-md-8">
              <input type="text" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-md-4 required"> Password </label>
            <div class="col-md-8">
              <input type="password" class="form-control form-control-sm" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  